<div class="addProduct">
    <form action="/add" method="post" enctype="multipart/form-data">
        <input type="text" name="ProductName" placeholder="Product-name">
        <input type="text" name="ProductLink" placeholder="Url Picture">
        <input type="text" name="LinkShop" placeholder="Url Shop">
        <input type="text" name="Company" placeholder="Company">
        <input type="text" name="Price" placeholder="Price">
        <textarea name="Article" cols="30" rows="10" placeholder="Write your article here ..."></textarea>
        <input type="submit" value="ADD PRODUCT">
    </form>
</div>