<header id="top">
    <a href="/">THE DESIGN SHOP</a>
    <nav>
        <ul>
            <li><a href="/">Weekly Recomendations</a></li>
            <li><a href="/cheap">Less than 30$</a></li>
            <li><a href="/add">Add</a></li>
        </ul>
    </nav>
</header>