@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Karla;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5% 10%;
}

header>a {
  font-size: 3.5vh;
  font-weight: 300;
  color: #323a45;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li:not(header nav ul li:nth-of-type(3)) {
  margin-right: 65px;
}

header nav ul li a {
  font-size: 2.2vh;
  color: #323a45;
}

/* -------------- */

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  gap: 35px;
}

.products a:nth-of-type(7n + 1) {
  grid-column: 1/4;
}

.products a div img {
  width: 100%;
}

.productNamePrice {
  display: flex;
  justify-content: space-between;
}

.productNamePrice span {
  color: #323a45;
}

.productCompany {
  color: #848484;
  margin: 0.8% 0 0 0;
}

/* ADD NEW PRODUCT */

main>h2,
.randomProductsMain h2,
.productEdit h2 {
  text-align: center;
  font-weight: 300;
  font-size: 4.5vh;
  color: #323a45;
}

.blackLine {
  height: 5px;
  width: 7.5%;
  margin: 1% auto 4%;
  background: black;
}

.addProductContainer {
  margin: 0 10%;
}

.addProduct form {
  display: flex;
  flex-direction: column;
}

.addProduct form input {
  margin: 0 0 1% 0;
  padding: 1.5% 0;
  border-radius: 5px;
  border: none;
  background: #e5e5e5;
  text-indent: 10px;
}

.addProduct form input::placeholder,
.addProduct form textarea::placeholder {
  color: #333333 50%;
  text-align: center;
  font-size: 2vh;
}

.addProduct form textarea {
  margin: 0 0 1% 0;
  border-radius: 5px;
  border: none;
  background: #e5e5e5;
  text-indent: 10px;
}

.addProduct form textarea::placeholder {
  padding: 6% 0 0 0;
}

.addProduct form input:last-of-type {
  background: rgba(50, 58, 69, 0.6);
  color: white;
  font-size: 3vh;
  cursor: pointer;
}

/* RANDOM PRODUCTS */

.greyLine {
  position: relative;
  width: 100%;
  height: 3px;
  background: rgba(50, 58, 69, 0.8);
  margin: 6% 0;
}

.greyLine img {
  position: absolute;
  left: 48%;
  bottom: -30px;
}

.randomProductsMain>section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 3% 10% 0;
  gap: 10px;
  text-align: center;
}

.randomProductsMain>section img {
  width: 200px;
  height: 200px;
}

.randomProducts {
  margin: 2%;
}

.randomProducts a {
  color: rgba(50, 58, 69, 0.8);
}

/*  PRODUCT DETAIL PAGE */

.productDetail {
  margin: 0 10%;
}

.productDetail>div div:nth-of-type(1) {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 1.5% 0;
}

.productDetail>div div:nth-of-type(1) a {
  margin-right: 35px;
  color: #848484;
  font-size: 2.2vh;
}

.productDetail>div div:nth-of-type(1) form input {
  border: none;
  background: none;
  color: #848484;
  font-size: 2.2vh;
  cursor: pointer;
}

.productDetail img {
  width: 100%;
}

.productDescription h2 {
  margin: 5% 0 0 0;
  font-weight: 300;
  color: #848484;
}

.productDescription p {
  margin: 2.5% 0 0 0;
  line-height: 3.5vh;
  font-size: 2.2vh;
  color: #848484;
}

.buyProduct {
  text-align: right;
  padding: 0 0 5% 0;
  margin: 5% 0 0;
}

.buyProduct button {
  padding: 2% 4%;
  background: none;
  border: 1.5px solid #323A45;
  border-radius: 3px;
  font-size: 2.5vh;
  color: #323A45;
  cursor: pointer;
}

.productEdit h2 {
  margin: 0 0 6% 0;
}

/* CHEAP PRODUCTS */

.cheapProducts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 10%;
  gap: 35px;
}

.cheapProducts img {
  width: 100%;
  height: 100%;
}

/* FOOTER */

footer a {
  display: block;
  text-align: center;
  margin: 7% 0 2%;
  color: #323a45;
  font-size: 4vh;
  font-weight: 300;
}

/* SHOW & HIDE (buy product & details) */

.editProduct form {
  display: flex;
  flex-direction: column;
}

.editProduct form input {
  margin: 0 0 1% 0;
  padding: 1.5% 0;
  border-radius: 5px;
  border: none;
  background: #e5e5e5;
  text-indent: 10px;
  color: rgba(50, 58, 69, 0, 5);
  text-align: center;
  font-size: 2vh;
}

.editProduct form textarea {
  margin: 0 0 1% 0;
  border-radius: 5px;
  border: none;
  background: #e5e5e5;
  text-indent: 10px;
  font-size: 2vh;
  line-height: 2.5vh;
}

.editProduct form input:last-of-type {
  background: rgba(50, 58, 69, 0.6);
  color: white;
  font-size: 3vh;
  cursor: pointer;
}

.buyProduct {
  display: none;
}

.editDelete {
  display: none;
}

.productEdit {
  display: block;
}

.show {
  display: block;
}

.hide {
  display: none;
}